torch==2.5.1
torchaudio==2.5.1
speechbrain==1.0.3
numpy==1.26.4
numba==0.60.0
tiktoken
more-itertools
pandas
scipy
soundfile
ml_collections
tqdm
segmentation_models_pytorch
timm
audiomentations
pedalboard
omegaconf
beartype
rotary_embedding_torch
einops
librosa
demucs
transformers
torchmetrics
spafe
protobuf
torch_audiomentations
asteroid
auraloss
torchseg
bitsandbytes
wandb
accelerate
huggingface-hub<1.0
prodigyopt
torch_log_wmse
loralib
pyaudio
keyboard
matplotlib
hyper_connections
sageattention
srt
stable-ts
pytubefix
flask
ytmusicapi
flask_sock
msgpack
