<!DOCTYPE html>
<html>
<head>
    <title>Domeoke</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="button-page">
    <button class="large-button" onclick="location.href='/youtube_page'">
        <div class="button-heading">Customize</div>
        <div class="button-body">
            Choose from youtube any song you want to sing.
        </div>
    </button>

    <button class="large-button second" onclick="location.href='/simple_page'">
        <div class="button-heading-pink">Simple</div>
        <div class="button-body" link="custom_song.html">
            Search and sing any song in seconds.
        </div>
    </button>
</body>
</html>